<a href="https://colab.research.google.com/github/zenshaheryar/Practice-2nd-semester/blob/main/FA24_BBD_080.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('melb_data.csv')

In [ ]:
missing_person = df.isna().sum() / len(df) * 100
df_cleaned = missing_person[missing_person > 20].index
df_cleaned = df.dropna()
print(df_cleaned.info())

#Fill missing values in numerical columns with the median
if 'Number' in df.columns:
    df["Number"].fillna(df["Number"].median(), inplace=True)
    print("Filled missing values in numerical columns with median.")
else:
    print("Column 'Number' not found in DataFrame.")

#Fill missing values in categorical columns with the mode
if 'Category' in df.columns:
    df["Category"].fillna(3, inplace=True)
    print("Filled missing values in categorical columns with mode")
else:
    print("Column 'Category' not found in DataFrame.")

print(df.head())

<class 'pandas.core.frame.DataFrame'>
Index: 6196 entries, 1 to 12212
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         6196 non-null   object
 1   Address        6196 non-null   object
 2   Rooms          6196 non-null   int64
 3   Type           6196 non-null   object
 4   Price          6196 non-null   float64
 5   Method         6196 non-null   object
 6   SellerG        6196 non-null   object
 7   Date           6196 non-null   object
 8   Distance       6196 non-null   float64
 9   Postcode       6196 non-null   float64
 10  Bedroom2       6196 non-null   float64
 11  Bathroom       6196 non-null   float64
 12  Car            6196 non-null   float64
 13  Landsize       6196 non-null   float64
 14  BuildingArea   6196 non-null   float64
 15  YearBuilt      6196 non-null   float64
 16  CouncilArea    6196 non-null   object
 17  Lattitude      6196 non-null   float64
 18  Longtitude     6196 non-null   float64
 19  Regionname     6196 non-null   object
 20  Propertycount  6196 non-null   float64
dtypes: float64(12), int64(1), object(8)
memory usage: 1.0+ MB
None
Column 'Number' not found in DataFrame.
Column 'Category' not found in DataFrame.
       Suburb           Address  Rooms Type      Price Method SellerG  \
0  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
2  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
3  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
4  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
0  3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0           NaN
1  4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0          79.0
2  4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0         150.0
3  4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0           NaN
4  4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0         142.0

   YearBuilt  CouncilArea Lattitude  Longtitude             Regionname  \
0        NaN        Yarra  -37.7996    144.9984  Northern Metropolitan
1     1900.0        Yarra  -37.8079    144.9934  Northern Metropolitan
2     1900.0        Yarra  -37.8093    144.9944  Northern Metropolitan
3        NaN        Yarra  -37.7969    144.9969  Northern Metropolitan
4     2014.0        Yarra  -37.8072    144.9941  Northern Metropolitan

  Propertycount
0        4019.0
1        4019.0
2        4019.0
3        4019.0
4        4019.0

[5 rows x 21 columns]

In [ ]:
#Retrieve all properties located in ;Richmond; with a price greater than $1,000,000.
richmond_properties = df[(df['Suburb'] == 'Richmond') & (df['Price'] > 1000000)]
print(richmond_properties.head())

# Extract only the;Price;, ;Suburb;, and ;BuildingArea; columns for properties  where the land size is above 500 square meters.
df_filtered = df_cleaned.loc[df_cleaned['Landsize'] > 500, ['Price', 'Suburb']]
print(df_filtered.head())

#Find the top 5 most expensive houses in the dataset using sorting.
df_sorted = df_cleaned.sort_values(by='Price', ascending=False)
print(df_sorted.head(5))

        Suburb          Address  Rooms Type      Price Method        SellerG  \
5257  Richmond       81 Erin St      3    h  1260000.0      S         Biggin
5258  Richmond  52 Lyndhurst St      3    t  1236000.0      S         Jellis
5263  Richmond        7 Bank St      3    h  1600000.0      S  hockingstuart
5264  Richmond      29 Bowen St      3    h  2180000.0     PI           Blue
5266  Richmond      131 Lord St      4    h  3335000.0      S         Jellis

           Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
5257  3/09/2016       2.6    3121.0  ...       1.0  0.0     203.0
5258  3/09/2016       2.6    3121.0  ...       2.0  1.0     675.0
5263  3/12/2016       2.6    3121.0  ...       2.0  1.0     115.0
5264  3/12/2016       2.6    3121.0  ...       2.0  2.0     345.0
5266  3/12/2016       2.6    3121.0  ...       2.0  2.0     319.0

      BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
5257          81.0     1900.0        Yarra  -37.8166    144.9945
5258           NaN        NaN        Yarra  -37.8206    145.0003
5263           NaN        NaN        Yarra  -37.8163    144.9984
5264           NaN        NaN        Yarra  -37.8159    144.9940
5266           NaN     1893.0        Yarra  -37.8244    145.0044

                 Regionname Propertycount
5257  Northern Metropolitan       14949.0
5258  Northern Metropolitan       14949.0
5263  Northern Metropolitan       14949.0
5264  Northern Metropolitan       14949.0
5266  Northern Metropolitan       14949.0

[5 rows x 21 columns]
        Price        Suburb
20  1330000.0    Abbotsford
47   725000.0  Airport West
51   895000.0  Airport West
57   830000.0  Airport West
60   675000.0  Airport West
           Suburb         Address  Rooms Type      Price Method       SellerG  \
12094    Mulgrave     35 Bevis St      3    h  9000000.0     PI          Hall
7692   Canterbury  49 Mangarra Rd      5    h  8000000.0     VB     Sotheby's
9575     Hawthorn    49 Lisson Gr      4    h  7650000.0      S  Abercromby's
3616          Kew     15 Barry St      6    h  6500000.0      S        Jellis
6372       Toorak    17 Albany Rd      3    h  6250000.0      S           Kay

             Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
12094  29/07/2017      18.8    3170.0  ...       1.0  1.0     744.0
7692   13/05/2017       9.0    3126.0  ...       5.0  4.0    2079.0
9575   17/06/2017       5.3    3122.0  ...       2.0  4.0    1690.0
3616   13/08/2016       5.6    3101.0  ...       6.0  3.0    1334.0
6372   15/10/2016       4.6    3142.0  ...       3.0  2.0     564.0

       BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
12094         117.0     1960.0       Monash -37.93168   145.16126
7692          464.3     1880.0   Boroondara -37.81790   145.06940
9575          284.0     1863.0   Boroondara -37.82652   145.03052
3616          365.0     1890.0   Boroondara -37.80290   145.02670
6372          342.0     2000.0  Stonnington -37.84860   145.02440

                       Regionname Propertycount
12094  South-Eastern Metropolitan        7113.0
7692        Southern Metropolitan        3265.0
9575        Southern Metropolitan       11308.0
3616        Southern Metropolitan       10331.0
6372        Southern Metropolitan        7217.0

[5 rows x 21 columns]

In [ ]:
#Create a new column that calculates the price per room (Price / Rooms).
df_cleaned['Price_Per_Room'] = df_cleaned['Price'] / df_cleaned['Rooms']
print(df_cleaned.head())

#Convert the ;Date; column (if available) into a proper datetime format.
df_cleaned["Date"] = pd.to_datetime(df_cleaned["Date"], dayfirst=True)
print(df_cleaned.head())

#Extract the year of sale from the date and create a new column Year_Sold.
df_cleaned['Year_Sold'] = df_cleaned['Date'].dt.year
print(df_cleaned.head())

       Suburb          Address  Rooms Type      Price Method SellerG  \
1  Abbotsford  25 Bloomburg St      2    h  1035000.0      S  Biggin
2  Abbotsford     5 Charles St      3    h  1465000.0     SP  Biggin
4  Abbotsford      55a Park St      4    h  1600000.0     VB  Nelson
6  Abbotsford     124 Yarra St      3    h  1876000.0      S  Nelson
7  Abbotsford    98 Charles St      2    h  1636000.0      S  Nelson

        Date  Distance  Postcode  ...  Car  Landsize  BuildingArea  YearBuilt  \
1  4/02/2016       2.5    3067.0  ...  0.0     156.0          79.0     1900.0
2  4/03/2017       2.5    3067.0  ...  0.0     134.0         150.0     1900.0
4  4/06/2016       2.5    3067.0  ...  2.0     120.0         142.0     2014.0
6  7/05/2016       2.5    3067.0  ...  0.0     245.0         210.0     1910.0
7  8/10/2016       2.5    3067.0  ...  2.0     256.0         107.0     1890.0

   CouncilArea  Lattitude Longtitude             Regionname  Propertycount  \
1        Yarra   -37.8079   144.9934  Northern Metropolitan         4019.0
2        Yarra   -37.8093   144.9944  Northern Metropolitan         4019.0
4        Yarra   -37.8072   144.9941  Northern Metropolitan         4019.0
6        Yarra   -37.8024   144.9993  Northern Metropolitan         4019.0
7        Yarra   -37.8060   144.9954  Northern Metropolitan         4019.0

  Price_Per_Room
1  517500.000000
2  488333.333333
4  400000.000000
6  625333.333333
7  818000.000000

[5 rows x 22 columns]
       Suburb          Address  Rooms Type      Price Method SellerG  \
1  Abbotsford  25 Bloomburg St      2    h  1035000.0      S  Biggin
2  Abbotsford     5 Charles St      3    h  1465000.0     SP  Biggin
4  Abbotsford      55a Park St      4    h  1600000.0     VB  Nelson
6  Abbotsford     124 Yarra St      3    h  1876000.0      S  Nelson
7  Abbotsford    98 Charles St      2    h  1636000.0      S  Nelson

        Date  Distance  Postcode  ...  Car  Landsize  BuildingArea  YearBuilt  \
1 2016-02-04       2.5    3067.0  ...  0.0     156.0          79.0     1900.0
2 2017-03-04       2.5    3067.0  ...  0.0     134.0         150.0     1900.0
4 2016-06-04       2.5    3067.0  ...  2.0     120.0         142.0     2014.0
6 2016-05-07       2.5    3067.0  ...  0.0     245.0         210.0     1910.0
7 2016-10-08       2.5    3067.0  ...  2.0     256.0         107.0     1890.0

   CouncilArea  Lattitude Longtitude             Regionname  Propertycount  \
1        Yarra   -37.8079   144.9934  Northern Metropolitan         4019.0
2        Yarra   -37.8093   144.9944  Northern Metropolitan         4019.0
4        Yarra   -37.8072   144.9941  Northern Metropolitan         4019.0
6        Yarra   -37.8024   144.9993  Northern Metropolitan         4019.0
7        Yarra   -37.8060   144.9954  Northern Metropolitan         4019.0

  Price_Per_Room
1  517500.000000
2  488333.333333
4  400000.000000
6  625333.333333
7  818000.000000

[5 rows x 22 columns]
       Suburb          Address  Rooms Type      Price Method SellerG  \
1  Abbotsford  25 Bloomburg St      2    h  1035000.0      S  Biggin
2  Abbotsford     5 Charles St      3    h  1465000.0     SP  Biggin
4  Abbotsford      55a Park St      4    h  1600000.0     VB  Nelson
6  Abbotsford     124 Yarra St      3    h  1876000.0      S  Nelson
7  Abbotsford    98 Charles St      2    h  1636000.0      S  Nelson

        Date  Distance  Postcode  ...  Landsize  BuildingArea  YearBuilt  \
1 2016-02-04       2.5    3067.0  ...     156.0          79.0     1900.0
2 2017-03-04       2.5    3067.0  ...     134.0         150.0     1900.0
4 2016-06-04       2.5    3067.0  ...     120.0         142.0     2014.0
6 2016-05-07       2.5    3067.0  ...     245.0         210.0     1910.0
7 2016-10-08       2.5    3067.0  ...     256.0         107.0     1890.0

   CouncilArea  Lattitude  Longtitude             Regionname  Propertycount  \
1        Yarra   -37.8079    144.9934  Northern Metropolitan         4019.0
2        Yarra   -37.8093    144.9944  Northern Metropolitan         4019.0
4        Yarra   -37.8072    144.9941  Northern Metropolitan         4019.0
6        Yarra   -37.8024    144.9993  Northern Metropolitan         4019.0
7        Yarra   -37.8060    144.9954  Northern Metropolitan         4019.0

   Price_Per_Room Year_Sold
1   517500.000000      2016
2   488333.333333      2017
4   400000.000000      2016
6   625333.333333      2016
7   818000.000000      2016

[5 rows x 23 columns]

<ipython-input-5-d7557140cd15>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Price_Per_Room'] = df_cleaned['Price'] / df_cleaned['Rooms']
<ipython-input-5-d7557140cd15>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Date"] = pd.to_datetime(df_cleaned["Date"], dayfirst=True)
<ipython-input-5-d7557140cd15>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Year_Sold'] = df_cleaned['Date'].dt.year

In [ ]:
#Find the average price of properties in each suburb.
suburb_avg_price = df.groupby("Suburb")["Price"].mean()
print(suburb_avg_price)

#Find the total number of properties sold in each suburb.
properties_per_suburb = df.groupby("Suburb")['Price'].count()
print(properties_per_suburb)

#Identify the suburb with the highest average price.
highest_avg_price_suburb = suburb_avg_price.idxmax()
print(highest_avg_price_suburb)

Suburb
Abbotsford      1.060366e+06
Aberfeldie      1.277455e+06
Airport West    7.566567e+05
Albanvale       5.370833e+05
Albert Park     1.941355e+06
                    ...
Wonga Park      9.000000e+05
Wyndham Vale    4.832500e+05
Yallambie       8.396875e+05
Yarra Glen      6.200000e+05
Yarraville      9.886155e+05
Name: Price, Length: 314, dtype: float64
Suburb
Abbotsford       56
Aberfeldie       44
Airport West     67
Albanvale         6
Albert Park      69
               ...
Wonga Park        1
Wyndham Vale      4
Yallambie        24
Yarra Glen        1
Yarraville      164
Name: Price, Length: 314, dtype: int64
Kooyong

In [ ]:
#Save the cleaned dataset to a new CSV file.
df.to_csv("cleaned_melb_data.csv", index=False)

# Generate a basic summary report using Pandas profiling.
from pandas_profiling import ProfileReport

profile = ProfileReport(df)
profile.to_file("report.html")